<div id="<%= dom_id post %>">
  <div>
    <strong>Source:</strong>
    <%= post.source %>
  </div>

  <div>
    <strong>Image:</strong><br>
<%= image_tag post.image_url, width: 300 if post.image_url.present? %>

  </div>

  <div>
    <strong>Caption:</strong>
    <%= post.caption %>
  </div>

  <div>
    <strong>Posted at:</strong>
    <%= post.posted_at %>
  </div>

  <div>
    <strong>Instagram url:</strong>
    <%= post.instagram_url %>
  </div>

</div>
